# ---------------------------------------------------------
# Ambiente Virtuale
# ---------------------------------------------------------
venv/
.env

# ---------------------------------------------------------
# Database
# ---------------------------------------------------------
db.sqlite3

# ---------------------------------------------------------
# Python cache
# ---------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------------------------------------
# Static & Media (GENERATE)
# ---------------------------------------------------------
staticfiles/
media/

# Evita di tracciare i video caricati o generati
*.mp4
*.avi
*.mov
*.mkv

# ---------------------------------------------------------
# Modelli / Checkpoints / Librerie pesanti
# ---------------------------------------------------------
models/*.pt
models/*.pth
models/*.onnx

# Librerie native grandi (OpenCV, PyTorch, ecc.)
*.so
*.dylib

# ---------------------------------------------------------
# Editor e OS
# ---------------------------------------------------------
.DS_Store
.idea/
.vscode/

# ---------------------------------------------------------
# Docker
# ---------------------------------------------------------
dump.rdb
